D:\OpenSiFli\sifli-sdk\Kconfig.v2
D:\OpenSiFli\sifli-sdk\customer\boards\Kconfig.v2
D:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_drv
D:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_lcd
D:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_lcd_fpga
D:\OpenSiFli\sifli-sdk\customer\boards\Kconfig_soc
D:\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp\Kconfig.board
D:\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp\hcpu\Kconfig.board
D:\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp_base\Kconfig.board
D:\OpenSiFli\sifli-sdk\customer\peripherals\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\audio\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\bluetooth\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\buzzer\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\charger\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\encoder\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\gps\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\motor\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\pa\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\pmic_controller\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\rgb\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\sensor\Kconfig
D:\OpenSiFli\sifli-sdk\customer\peripherals\vibrator\Kconfig
D:\OpenSiFli\sifli-sdk\external\CMSIS\Kconfig
D:\OpenSiFli\sifli-sdk\external\CmBacktrace-v1.3.0\Kconfig
D:\OpenSiFli\sifli-sdk\external\FlashDB\Kconfig
D:\OpenSiFli\sifli-sdk\external\Kconfig
D:\OpenSiFli\sifli-sdk\external\SEGGER_SystemView-master\Kconfig
D:\OpenSiFli\sifli-sdk\external\WebRTC_audio_processing\Kconfig
D:\OpenSiFli\sifli-sdk\external\cJSON-1.7.17\Kconfig
D:\OpenSiFli\sifli-sdk\external\coremark\Kconfig
D:\OpenSiFli\sifli-sdk\external\easytlv\Kconfig
D:\OpenSiFli\sifli-sdk\external\ffmpeg\Kconfig
D:\OpenSiFli\sifli-sdk\external\freetype\Kconfig
D:\OpenSiFli\sifli-sdk\external\fsck\Kconfig
D:\OpenSiFli\sifli-sdk\external\jpeg_nano\Kconfig
D:\OpenSiFli\sifli-sdk\external\libhelix-mp3\Kconfig
D:\OpenSiFli\sifli-sdk\external\lvgl_v8\Kconfig
D:\OpenSiFli\sifli-sdk\external\lvgl_v8\Kconfig_v8
D:\OpenSiFli\sifli-sdk\external\lvgl_v9\Kconfig
D:\OpenSiFli\sifli-sdk\external\lz4\Kconfig
D:\OpenSiFli\sifli-sdk\external\mbedtls\Kconfig
D:\OpenSiFli\sifli-sdk\external\mbedtls_228\Kconfig
D:\OpenSiFli\sifli-sdk\external\nanopb\Kconfig
D:\OpenSiFli\sifli-sdk\external\opus-1.4\Kconfig
D:\OpenSiFli\sifli-sdk\external\quickjs\Kconfig
D:\OpenSiFli\sifli-sdk\external\rlottie\Kconfig
D:\OpenSiFli\sifli-sdk\external\rpmsg-lite\Kconfig
D:\OpenSiFli\sifli-sdk\external\sensor-lib\Kconfig
D:\OpenSiFli\sifli-sdk\external\state_machine-latest\Kconfig
D:\OpenSiFli\sifli-sdk\external\tinymp3\Kconfig
D:\OpenSiFli\sifli-sdk\external\vglite\Kconfig
D:\OpenSiFli\sifli-sdk\external\webclient\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\audio\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\Kconfig.hw
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.adv
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.iso
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.zbt
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\common\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\mesh\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
D:\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\file_logger\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\lvgl\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\metrics_collector\Kconfig
D:\OpenSiFli\sifli-sdk\middleware\profiler\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\iot\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\iot\netutils\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\samples\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\cplusplus\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\dfs\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\drivers\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\finsh\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\libc\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\at\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\lwip\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\netdev\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\sal\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\components\utilities\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\libcpu\Kconfig
D:\OpenSiFli\sifli-sdk\rtos\rtthread\src\Kconfig
D:\github\RadiationMonitor\project\Kconfig.proj
D:\github\RadiationMonitor\project\build_sf32lb52-lchspi-ulp_hcpu\Kconfig
D:\github\RadiationMonitor\src\Kconfig
D:\github\RadiationMonitor\src\lv_demos\Kconfig
