C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\Kconfig.v2
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\Kconfig.v2
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\Kconfig_drv
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\Kconfig_lcd
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\Kconfig_lcd_fpga
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\Kconfig_soc
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\sf32lb52-lchspi-ulp\Kconfig.board
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\sf32lb52-lchspi-ulp\hcpu\Kconfig.board
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\boards\sf32lb52-lchspi-ulp_base\Kconfig.board
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\audio\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\bluetooth\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\buzzer\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\charger\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\encoder\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\gps\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\motor\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\pa\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\pmic_controller\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\rgb\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\sensor\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\customer\peripherals\vibrator\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\CMSIS\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\CmBacktrace-v1.3.0\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\FlashDB\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\SEGGER_SystemView-master\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\WebRTC_audio_processing\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\cJSON-1.7.17\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\coremark\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\easytlv\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\ffmpeg\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\freetype\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\fsck\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\jpeg_nano\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\libhelix-mp3\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\lvgl_v8\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\lvgl_v8\Kconfig_v8
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\lvgl_v9\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\lz4\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\mbedtls\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\mbedtls_228\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\nanopb\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\opus-1.4\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\quickjs\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\rlottie\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\rpmsg-lite\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\sensor-lib\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\state_machine-latest\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\tinymp3\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\vglite\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\external\webclient\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\audio\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\Kconfig.hw
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\Kconfig.adv
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\Kconfig.iso
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\Kconfig.zbt
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\common\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\host\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\mesh\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\file_logger\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\lvgl\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\metrics_collector\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\middleware\profiler\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\packages\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\packages\iot\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\packages\iot\netutils\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\packages\misc\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\packages\misc\samples\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\cplusplus\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\dfs\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\drivers\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\finsh\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\libc\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\net\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\net\at\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\net\lwip\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\net\netdev\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\net\sal\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\components\utilities\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\libcpu\Kconfig
C:\Users\xuzhi\sifli\SiFli-SDK\v2.4.1\rtos\rtthread\src\Kconfig
D:\OpenSiFli\Project\RadiationMonitor\project\Kconfig.proj
D:\OpenSiFli\Project\RadiationMonitor\project\build_sf32lb52-lchspi-ulp_hcpu\Kconfig
D:\OpenSiFli\Project\RadiationMonitor\src\Kconfig
